* {
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}

body {
    max-width: 1170px;
    margin: 0 auto;
}

/* ----- Common styles -----  */

.h3-title {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

.para-style {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}


/* ----- Header section start -----  */

.header-sec {}

/* ----- Nav section start -----  */


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 63px 0 60px 0;
}

.nav-left-icon img {
    width: 50px;

}

.nav-left-name {
    color: #131318;
    font-family: Mulish;
    font-size: 36px;
    font-weight: 800;
    width: 201px;
    height: 45px;

}

.express {
    color: #FF5400;
    font-size: 36px;
    font-weight: 800;
}

.nav-left {
    display: flex;
    width: 50%;

}

.nav-right {
    width: 50%;
}

.nav-right ul {
    display: flex;
    list-style: none;
    justify-content: space-between;


}

.nav-right a {
    text-decoration: none;
    color: inherit;

}

.nav-right ul li {
    color: var(--Dark-02, #424247);
    font-family: Mulish;
    font-size: 18px;
    font-weight: 400;
}


#home {
    color: #FF5400;
    font-family: Mulish;
    font-size: 18px;
    font-weight: 700;
}

/* ----- Responsive Nav -----  */

.cheakbtn {
    font-size: 30px;
    color: black;
    float: right;
    line-height: 80px;
    margin: -8px 50px;
    cursor: pointer;
    display: none;
}

#cheak {
    display: none;
}






/* ----- Banner section start -----  */


.banner-sec {
    height: 500px;
    width: 100%;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/group13.png');
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.banner-title {
    color: #FFF;
    font-family: Mulish;
    font-size: 64px;
    font-weight: 800;
    text-align: center;

}

.banner-text {
    max-width: 676px;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-top: 24px;
    padding-bottom: 48px;
}


#input-01 input[type="text"] {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    border-color: transparent;
    text-indent: 15px;
}

#input-02 select {
    color: rgba(19, 19, 24, 0.50);
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    border-color: transparent;
    text-indent: 15px;
}

#input-03 select {
    color: rgba(19, 19, 24, 0.50);
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    border-color: transparent;
    text-indent: 15px;
}

#input-04 button {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    border-color: transparent;
}

#banner-btn {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 700;
}


.banner-input {
    height: 84px;
    width: 800px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.form {
    display: flex;
    gap: 24px;
    justify-content: center;

}

/* ----- Popular tours section start -----  */


.popular-tours-sec {
    margin-top: 100px;
    display: flex;
    gap: 53px;
    justify-content: space-between;
    align-items: flex-start;
    width: 1170px;

}




.popular-tours-text1,
.popular-tours-text2,
.popular-tours-text3 {

    padding: 16px 0;

}

.popular-tours-text3 {
    padding-top: 0;

}

.popular-tours-text2 li {
    padding-bottom: 16px;
    margin-left: 20px;
}

.button input[type="button"] {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    border: transparent;

}

.button02 input[type="button"] {
    margin-top: 57px;
}



/* ----- Gallery section start -----  */


.gallery-text {
    text-align: center;
    margin: 100px auto 0 auto;
}

.gallery-p1 {
    padding: 24px 0 48px 0;
}



.grid-container {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(3, 1fr);
    max-width: 1170px;

}

.grid-container>div {
    position: relative;
    text-align: center;
}

.grid-container .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transition: translate(-50%, -50%);
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
}

.grid-container img {
    width: 100%;
    height: 100%;
    border-radius: 8px;

}

.grid-container div {
    padding: 12px;
}

.grid-item-1 {
    grid-column: 1/span 12;
    grid-row: 1/span 1;
    /* padding: 10px; */

}

.grid-item-2 {
    grid-column: 13 / span 24;
    grid-row: 1;

}

.grid-item-3 {
    grid-column: 1 / span 8;
    grid-row: 2;
}

.grid-item-4 {
    grid-column: 9 / span 10;
    grid-row: 2;
}

.grid-item-5 {
    grid-column: 19 / span 24;
    grid-row: 2;
}

.grid-item-6 {
    grid-column: 1 / span 10;
    grid-row: 3;
}

.grid-item-7 {
    grid-column: 11 / span 24;
    grid-row: 3;
}





/* ----- Why Choose Us Section -----  */

.choose-us-sec {
    margin-top: 100px;
    text-align: center;
}

.choose-p1 {
    padding: 24px 0px 48px 0px;
}

.choose-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.choose-card01,
.choose-card02,
.choose-card03 {
    margin-bottom: 12px;
    flex-basis: 573px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 573px;
    height: 284px;
    flex-shrink: 0;
    border-radius: 16px;

}

.choose-card01 {
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.choose-card02 {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.choose-card03 {
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}

.choose-card01-img,
.choose-card02-img,
.choose-card03-img {
    width: 64px;
    height: 64px;
    flex-shrink: 0;
    padding: 32px 477px 0 32px;
}

.choose-card01-title,
.choose-card02-title,
.choose-card03-title,
.newslt-title {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    padding: 32px 0 16px 32px;
}

.choose-card01-text,
.choose-card02-text,
.choose-card03-text {
    width: 486px;
    text-align: start;
    padding: 0px 0 16px 32px;
}



/* ----- Perfect Place Section Start -----  */


.per-place-sec {
    margin-top: 100px;
    display: flex;
    gap: 28px;
    /* justify-content: space-between; */
    /* align-items: flex-start; */
    /* width: 1170px; */

}

.per-place-right {
    width: 610px;
    height: 424px;
}

.per-place-title {

    width: 448px;
}

.per-place-text1 {
    width: 532px;
    padding: bottom 8px;
    padding-top: 24px;
}



.per-place-text2 li {
    margin-left: 20px;
    width: 518px;
    color: #131318;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    padding-top: 16px;
}

.button03 input[type="button"] {
    margin-top: 32px;
}


/* ----- Newsletter Section Start -----  */


.newslt-sec {
    margin-top: 100px;
    display: flex;
}

.newslt-title {
    padding: 40px 332px 16px 40px;
}

.newslt-text {
    width: 350px;
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding: 0 43px 24px 40px;
}


hr {
    border: none;
    width: 393px;
    height: 1px;
    background: rgba(19, 19, 24, 0.10);
    margin: 0 41px 8px 40px;

}

.newslt-input {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.newslt-sec {
    width: 474px;
    height: 422px;
    border-radius: 16px;
    border: 1px solid #FF5400;

}


.newslt-input input[type="text"],
.newslt-input input[type="email"] {
    width: 393px;
    height: 52px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    text-indent: 15px;
    margin-top: 16px;
    border: none;
}

.newslt-btn {
    margin-top: 24px;
    width: 393px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    /* text-align: center; */
    padding: auto 0;
    display: flex;
    justify-content: center;
    align-items: center;


}

.newslt-btn1 {
    color: #FFF;

    background-color: transparent;
    text-align: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 800;
    border: none;
}

.newslt-right {
    position: relative;
}

.newslt-right-p {
    position: absolute;
    width: 324px;
    height: 120px;
    transform: rotate(-19.628deg);
    border-radius: 16px;
    background: #FF5400;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
    bottom: 50px;
    right: 10px;

}

.newslt-right-p1 {
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-weight: 400;

}

.newslt-right-p2 {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 800;

}


/* ----- Deals Section Start -----  */

.deals-sec {
    margin-top: 100px;
    text-align: center;
}

.deals-para {
    width: 643px;
    margin: 24px auto 48px auto;
}

.deals-sec01 {
    width: 1170px;
    height: 500px;
    background-image: url('/Images/deals01.png');
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 24px;
}

.deals-sec02 {
    width: 1170px;
    height: 500px;
    background-image: url('/Images/deals02.png');
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 24px;
}

.deals-sec02>.deals-card {
    margin: auto auto auto 56px;
}


.deals-card {
    width: 579px;
    height: 389px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    padding-left: 50px;
    margin: auto 56px auto auto;
}

.deals-card2 {}


.deals-card-s1 {
    display: flex;
    gap: 24px;
    margin: 52px auto 26px auto;
}


.deals-card-s2 {
    text-align: left;
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    padding-bottom: 16px;
}

.deals-card-s3 {
    width: 452px;
    color: #5A5A5D;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.deals-card-s4 {
    color: #FF5400;
    font-size: 20px;
    font-weight: 800;
    text-align: left;
    padding-top: 16px;

}

.deals-card-s5 {
    width: 150px;
    height: 52px;

}

.deals-button-sec {
    margin: 48px 480px 0 480px;
}


.deals-button {
    width: 210px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    display: flex;
    align-items: center;
    justify-content: center;

}

.deals-button input[type="button"] {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    background: transparent;
    border: transparent;
    font-weight: 800;
}


/* ----- Testimonial Section Start -----  */


.testi-sec {
    height: 550px;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('/Images/testi.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    margin-top: 100px;
    border-radius: 16px;
}


.testi-title {
    text-align: center;
    color: white;
    font-size: 40px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.testi-para {
    color: #FFF;
    text-align: center;
    margin: auto 260px;
    margin-bottom: 30px;
}


.testi-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.testi-card1 {
    /* margin: 0 auto; */
    width: 333px;
    height: 300px;
    border-radius: 16px;
    /* border: 2px solid #FFF; */
    background: rgba(255, 255, 255, 0.274);
    backdrop-filter: blur(2.5px);
    margin-top: -10px;
}

.testi-card2 {
    margin-top: 50px;
}

.testi-card-s1 {
    color: orange;
    text-align: center;
    padding: 15px;
}

.testi-card-s2,
.testi-card-s4title {
    font-size: 20px;
    text-align: center;
    color: #FFF;

}

.testi-card-s3 {
    margin: 10px 50px;
    /* padding-top: 10px; */
    text-align: center;
    color: #FFF;
    /* padding-bottom: 10px; */

}

.testi-card-s4img {
    border: 3px solid orangered;
    border-radius: 50%;
    margin-left: 133px;

}

.testi-card-s4title {
    padding-top: 5px;
}

.testi-card-s4desig {
    text-align: center;
    color: #cdc7c7;
}






/* ----- Footer Section Start -----  */


.footer-sec {
    /* margin-top: 100px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-sec1 {
    padding: 110px 0 15px 0;
}

.footer-sec2 {
    text-align: center;
    padding-bottom: 32px;
}

.footer-hr>hr {
    border: none;
    width: 872px;
    height: 1px;
    background: rgba(19, 19, 24, 0.10);
    margin: 50px 149px 50px 149px;

}

.footer-sec3 {
    width: 174.322px;
    height: 24px;
    display: flex;
    justify-content: space-around;
}

.footer-sec4 {
    margin-bottom: 110px;

}